/* Colors */
$light-blue-color: #608dc6;
$blue-color: #043470;
$dark-blue-color: #022045;
$orange-color: #f7941d;
$dark-grey: #494949;
$very-orange-color: #f5dfc5;


$btn-yellow-dark: rgba(192, 168, 57, 1);
$btn-yellow-light: rgba(235, 205, 70, 1);
$light-grey: #ccc;
$very-light-grey: #e7e7e7;
$drop-shadow: #c6c6c6;

// Breakpoints
$small-mobile: 375px;
$mobile: 600px;
$vertical-tablet: 768px;
$menu-breakpoint: 900px;
$horizontal-tablet: 1024px;
$small-desktop: 1280px;
