/* Colors */
$light-blue-color: #C3AEE0;
$blue-color: #2E2E7A;
$dark-blue-color: #0C0C3D;
$orange-color: #AD6A30;
$dark-grey: #494949;
$very-light-orange: #EFE4DC;


$btn-yellow-dark: #877354;
$btn-yellow-light: #AD6A30;
$light-grey: #ccc;
$very-light-grey: #e7e7e7;
$drop-shadow: #c6c6c6;

// Breakpoints
$small-mobile: 375px;
$mobile: 600px;
$vertical-tablet: 768px;
$menu-breakpoint: 900px;
$horizontal-tablet: 1024px;
$small-desktop: 1280px;

// Fonts
$body-font: "SourceSerif", serif;
$heading-font: "OpenSans", sans-serif;
$body-copy: 400 18px/26px $body-font;

