@import 'components/theme';

/* //////////////////  Simple Content   //////////////////*/
.two-column-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
    margin: 40px auto 0;
    max-width: 1180px;  

    @media (min-width: $vertical-tablet) { 
        gap: 30px;
        grid-template-columns: 1fr 1fr;

        &:first-of-type {
            padding-right: 10px;
        }
        &:last-of-type {
            padding-left: 10px;
        }
    }
}
